@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f1ea; 
  color: #382110; 
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d8d3c4; 
  border-radius: 4px;
}